.PRINCEPETRO{    font-family: sans-serif;
    font-size: 18px;
   color:rgb(0, 128, 38);}
.PRINCEPETRO:hover{
       text-shadow: 2px 2px 5px red;
    border-style: solid;
}                   
.BARONRAFF{    font-family: sans-serif;
  font-size: 18px;
  color:rgb(0, 128, 38);}
.BARONRAFF:hover{
    text-shadow: 2px 2px 5px red;
    border-style: solid;
}                   
.MARQDEPOIV{ font-family: sans-serif;
font-size: 18px;
color:rgb(0, 128, 38);}
.MARQDEPOIV:hover{
    text-shadow: 2px 2px 5px red;
     border-style: solid;
}             
          
.GENKOTEMK{ font-family: sans-serif;
font-size: 18px;
color:rgb(0, 128, 38);}
.GENKOTEMK:hover{
text-shadow: 2px 2px 5px red;
 border-style: solid;
}
p.speech{
font-family: 'Times New Roman', Times, serif;
font-size: 13px;
color:black;
}
p.stagedirection{
font-family: Arial, sans-serif;
font-size: 15px;
color: black;
background-color: rgb(152, 251, 234);
}
p.stagedirection:hover{
font-family: Arial, sans-serif;
font-size: 17px;
color: black;
background-color: rgb(255, 220, 253);

} 