.PRINCEPETRO{    font-family: sans-serif;
    font-size: 18px;
   color:rgb(0, 128, 38);}
.PRINCEPETRO:hover{
       text-shadow: 2px 2px 5px red;
    border-style: solid;
}                   
.BARONRAFF{    font-family: sans-serif;
  font-size: 18px;
  color:rgb(0, 128, 38);}
.BARONRAFF:hover{
    text-shadow: 2px 2px 5px red;
    border-style: solid;
}                   
.MARQDEPOIV{ font-family: sans-serif;
font-size: 18px;
color:rgb(0, 128, 38);}
.MARQDEPOIV:hover{
    text-shadow: 2px 2px 5px red;
     border-style: solid;
}             
          
.GENKOTEMK{ font-family: sans-serif;
font-size: 18px;
color:rgb(0, 128, 38);}
.GENKOTEMK:hover{
text-shadow: 2px 2px 5px red;
 border-style: solid;
}
p.speech{
font-family: 'Times New Roman', Times, serif;
font-size: 13px;
color:black;
}
p.stagedirection{
font-family: Arial, sans-serif;
font-size: 15px;
color: black;
background-color: rgb(152, 251, 234);
}
p.stagedirection:hover{
font-family: Arial, sans-serif;
font-size: 17px;
color: black;
background-color: rgb(255, 220, 253);

} 
table,tr,td
{
    border:2px solid gold;
    color:seagreen    
}
th{
    border:2px solid blue;
    color:red
}
td
{
    text-align:center;
}
th,td
{ 
    padding-left: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;

}

tr:nth-child(even){
    background-color: burlywood;
}
span :hover{
    text-shadow: 0 0 8px red;
    color: transparent;
    border: dotted;
}

.direction {
    width: 100%;
    overflow: auto;
  }
  
  .direction a {
      position: relative;
      left: 50%;
    float: left;
    padding: 15px;
    color:white;
    background-color: black;
    text-decoration: none;
    font-size: 18px;
  }
  
  .direction a:hover {
    background-color:rgb(112, 216, 168);
  }
  
  .book {
      color: white;
    background-color:black;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.material-icons-outlined{
    float: right;
}